@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #FEF9F3;
    --foreground: #171717;
    --primary: #568faa86;
    --secondary: #51636B;
    --tertiary: #283033;
}

@media (prefers-color-scheme: dark) {
/*   :root {
    --background: #1f1f1f;
    --foreground: #dfdfdf;
    --primary: #CECABE;
    --secondary: #B5BDBC;
  } */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Verdana, sans-serif;
}

h1 {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: Vollkorn, serif;
}

h2 {
    font-size: 1.1rem;
    font-weight: 300;
    font-family: Vollkorn, serif;
}

h3 {
    font-size: 1.1rem;
    font-weight: 300;
}


p {
    font-size: 1rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2rem;
        font-weight: 300;
        font-family: Vollkorn, serif;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: 300;
        font-family: Vollkorn, serif;
    }
    
    h3 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    p {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 3.5rem;
        font-weight: 300;
        font-family: Vollkorn, serif;
    }

    h2 {
        font-size: 2rem;
        font-weight: 300;
        font-family: Vollkorn, serif;
    }
    
    h3 {
        font-size: 1.5rem;
        font-weight: 300;
        font-family: Vollkorn, serif;
    }
}

.breadtext {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    font-family: Verdana, sans-serif;
}

.footnote {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    font-family: Verdana, sans-serif;
    font-style: italic;
}