@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fef9f3;
    --foreground: #171717;
    --primary: #568faa86;
    --secondary: #51636bd9;
    --tertiary: #283033;
    --gray: #e8e8e8;
    --mono: #FAE1C4;
}

@media (prefers-color-scheme: dark) {
    /*   :root {
    --background: #1f1f1f;
    --foreground: #dfdfdf;
    --primary: #CECABE;
    --secondary: #B5BDBC;
  } */
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 26px;
    font-weight: 300;
    font-family: Vollkorn, serif;
}

h3 {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
}


@media (min-width: 768px) {
    h1 {
        font-size: 2rem;
        font-weight: 300;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: 300;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    p {
        font-size: 1em;
        font-family: Verdana, sans-serif;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 1.3;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    h3 {
        font-size: 1.8rem;
        font-weight: 300;
    }

    p {
        font-size: 1.1rem;
        font-family: Vollkorn, serif;
    }
}

.breadtext {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    font-family: Verdana, sans-serif;
}

.footnote {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    font-family: Verdana, sans-serif;
    font-style: italic;
}
